<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074585918151-jkofa9jcop1hvg2nnraen6i0qp9370vb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074585918151-jkofa9jcop1hvg2nnraen6i0qp9370vb</string>
	<key>API_KEY</key>
	<string>AIzaSyBTRZ-uTbjR6vryaPpue1juqjqGnhg-JIg</string>
	<key>GCM_SENDER_ID</key>
	<string>1074585918151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPostpeDemo</string>
	<key>PROJECT_ID</key>
	<string>udharipe-bd09d</string>
	<key>STORAGE_BUCKET</key>
	<string>udharipe-bd09d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074585918151:ios:ce14b6b93238d6d94b3ce2</string>
</dict>
</plist>